body{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* padding: 20px; */ 
background-color:whitesmoke;
font-size: large;

}

#myform {
  /* height: ;
  width:;
  align-items:;
  */

  /* text-align: center;
  
  width: 100%;
  border-radius: 10px;
  background-color: #15A3C7; */

}
.container{
    text-align: center;
    height: 100vh;
    width: 80vw;
    border-radius: 10px;
    background-color: #15A3C7;

}
input[type=text] {
    font-size: large;
    width: 30%;
    padding: 8px 10px;
  
}
.push-to-add{
padding: 5px;

}
 
  #display_image{
    width: 50px;
    height:50px;
    background-position:center;
    border: ;
  }

  #repeat1{
    /* padding:;
    height:150;
    width:300px;
   position: absolute; */

  }

  table{
    border-collapse: collapse;
    width: 100%;
  }
  table th{
    border: 2px solid black;
    height: 50px;
    margin-top: 15px;
  }